.container {
  padding: 5vw;

  .header-section {
    margin: 0 0 1rem 0;
  }

  .priceblocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;

    > * {
      width: 22rem;
    }
  }
}
